## Don't proxy for local
Host 127.0.0.1
  ProxyCommand none

{% for ssh_broker in ssh_brokers %}
Host {{ ssh_broker.alias }}
  HostName {{ ssh_broker.ip }}
{% endfor %}

{% for ssh_broker in ssh_brokers %}
Host *.{{ ssh_broker.dn_suffix }}
  ProxyCommand           ssh -q -A {{ ssh_broker.alias }} nc %h %p
{% endfor %}

Host{% for ssh_broker in ssh_brokers %} {{ ssh_broker.alias }} *.{{ ssh_broker.dn_suffix }}{% endfor %}

  ForwardAgent yes
  ForwardX11 no
  GSSAPIAuthentication yes
  ForwardX11Trusted yes
  StrictHostKeyChecking no
  PasswordAuthentication no
  ## Batchmode is desirable for Ansible, but connections to new hosts break
  ## because of the host key prompt.  Disabling strict checking means you
  ## don't get prompted for new keys.  If there is a mismatch, a prompt will
  ## still happen, breaking the connection, which is how it should be.
  BatchMode              yes
  StrictHostKeyChecking  no
  ServerAliveInterval    180
  ServerAliveCountMax    3
  TCPKeepAlive           yes
  ControlMaster          auto
  ControlPath            ~/.ssh/mux-%r@%h:%p
  ControlPersist         8h

  # Send locale-related environment variables
  SendEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
  SendEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
  SendEnv LC_IDENTIFICATION LC_ALL LANGUAGE
  SendEnv XMODIFIERS
