# What ports, IPs and protocols we listen for
Port 22
Protocol 2

# We can open a lot of sessions per connection when muxing
MaxSessions 5000
MaxStartups 1000:25:5000

HostKey /etc/ssh/ssh_host_rsa_key
{% if(((ansible_distribution == "CentOS") or (ansible_distribution == "RedHat")) and (ansible_distribution_major_version == "6")) %}

UsePrivilegeSeparation yes
{% else %}

HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
UsePrivilegeSeparation sandbox
{% endif %}
SyslogFacility AUTHPRIV
LogLevel INFO

# Authentication:
RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
StrictModes yes
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
DenyUsers {% for user in sshd_denyusers %} {{ user }}{% endfor %}

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials no

# WARNING: 'UsePAM no' is not supported and will cause problems -- Jason
UsePAM yes

X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
UseLogin no

# no default banner path
#Banner none

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
{% if(ansible_distribution == "CentOS") or (ansible_distribution == "RedHat") %}
Subsystem sftp /usr/libexec/openssh/sftp-server
{% endif %}
{% if(ansible_distribution == "Ubuntu") %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}

{% if sshd_match is defined %}
# Match exceptions
{% for match in sshd_match %}
Match{% for criterion in match.criteria %} {{ criterion }}{% endfor %}

{% for line in match.overrides %}
  {{ line.keyword }} {{ line.value }}
{% endfor %}
{% endfor %}
{% endif %}
